.info {
  width: 13rem;
}

.title-date > span {
  text-align: center;
}

.title {
  font-size: 14px;
}

.tanggal {
  padding-left: 6px;
  font-size: 13px;
}

.divider {
  border-right: 1px solid white;
  height: 100%;
  padding-left: 8px;
}

.rating {
  color: yellow;
  margin-right: 4px;
}

.persen {
  color: white;
  font-size: 13px;
  padding-right: 6px;
}
